#landing {
  width: 100%;
  height: 100vh;
}
#landing .transactions-panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .entities-pane {
    display: flex;
    flex-grow: 1;
  }
  .entities-pane h2 {
    font-size: 16px;
    margin: 10px;
    text-decoration: underline;
    color: #dad;
  }
  .user-pane, .team-pane, .stock-pane {
    flex-grow: 1;
    border-left: 1px solid #ccc;
    overflow-y: scroll;

    table {
      font-size: 14px;
    }
    table tr {
      margin: 0;
      border: none;
    }
    table td {
      padding: 2px 10px;
    }
    table td:last-child {
      text-align: right;
    }
  }

  .transaction-pane {
    border-top: 1px solid #ccc;
    height: 250px;
    flex-grow: 0;
  }
  .transaction-pane form, .transaction-pane .form {
    margin: 20px 0;
  }

  .error-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: color("red", "lighten-3");
    text-align: center;
    padding: 20px;

    i {
      display: block;
      float: right;
    }
    i:hover {
      cursor: pointer;
    }
  }
}